<div id="background" class="container-fluid">
    <h1 id="heading"><strong>Sleeplyfe</strong> Login Form </h1>
    <div class="row">

      <div class="col-md-8 col-md-push-4">
        <div class="btn btn-default" id="patient" (click)="onClick(0)">Patient</div>
     
        <div class="btn btn-default" id="analyst" (click)="onClick(1)">Analyst</div>
      
        <div class="btn btn-default" id="doctor" (click)="onClick(2)">Doctor</div>
      </div>
      <app-login *ngIf="form_flag">
      </app-login>
</div>
</div>