<div class="row" id="form-bg">
  <div class="col-md-5 col-md-push-4" id="form">
    <div class="form-top">
      <div styel="float:left;">
        <h3>Login to {{Title()}}</h3>
      </div>
      <div style="float:right;">
        <i class="fa fa-key"></i>
      </div>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-container">
          <input class="input-field" type="text" ngModel name="username">
        </div>
      </div>

      <div class="form-group">
        <label for="username">Password</label>
        <div class="input-container">
          <input class="input-field" type="password" ngModel name="password">
        </div>
      </div>

      <button type="submit" class="btn btn-default">Login</button>
      <button class="btn btn-primary" style="float:right;">Signup</button>
    </form>
  </div>
</div>
